<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Template Gallery – Website template examples</title>

	<meta name="description" content="">
	<meta name="author" content="">
	<link href="css/style.css" rel="stylesheet">
	<style>
		.fluidMedia {
  			position: relative;
    		/*padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%)
    		padding-top: 30px;*/
    		height: 0;

		}

		.fluidMedia iframe {
   			position: absolute !important;
    		overflow: hidden;
    		height: 100vh;
    		top: 0;
    		left: 0;
    		width: 100%;
		}
	</style>

</head>

<body>

	<div class="fluidMedia">
<iframe src="http://our-templates.multiscreensite.com/" style="border:0px #ffffff none;" name="sbn-templates" scrolling="yes" frameborder="0" marginheight="0px" marginwidth="0px" width="100%" allowfullscreen></iframe>
	</div>
</body>

</html>

